<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minitech.miniworld.nearme.gamecenter"
    android:versionCode="8197"
    android:versionName="0.32.5" >

	<uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
	<uses-feature
	    android:glEsVersion="0x00020000"
	    android:required="true" />

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>	
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />	
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>	
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />	
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />	
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>		
	<uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />	
	<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
	<uses-permission android:name="com.android.launcher.permission.READ_SHTTINGS"/>
  	<uses-permission android:name="com.android.launcher.permission.WRITE_SHTTINGS"/>
  	<uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	
	<uses-permission android:name="android.permission.ACCESS_MTK_MMHW"/>

	<!-- OPPO广告权限 begin -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />
	<!-- OPPO广告权限 end -->
	<!-- OPPO实名制权限 begin -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> 
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" /> 
	<!-- OPPO实名制权限 end -->

	<!-- 咪咕sdk begin -->
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
	<!-- 咪咕sdk end -->

	<!-- egame begin -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/> -->
    <!-- egame end -->
	
	<!-- code injection begin [manifest_node] -->

	<!-- shareSDK -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	
	<!-- 蓝牙分享所需的权限 -->
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<!-- shareSDK -->

	<!-- DNS权限开始 -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- DNS权限结束 -->
	
	<!-- GVoiceSDk begin -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<!-- GVoiceSDk end -->
	
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-feature android:name="android.hardware.camera.any"/>
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
	<uses-feature android:name="android.hardware.camera.flash" android:required="false"/>

	<!-- code injection end [manifest_node] -->
			
    <application
        android:allowBackup="false"
        android:name="com.minitech.miniworld.TMobile.AppPlayApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
			android:name="com.minitech.miniworld.SplashScreenActivity"
            android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:launchMode="singleInstance"
			android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="miniw" 
						android:host="yiqiwan"	/>
            </intent-filter>
        </activity>
        <activity android:name="org.appplay.cameralib.CameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
            
		<activity
			android:name="com.minitech.miniworld.MiniWorldActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <data android:scheme="miniworld"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
		</activity>
		<!-- oppo广告 begin -->
		<!--SDK 必选组件配置开始-->
		<activity android:name="com.oppo.mobad.activity.AdActivity" />
		<service android:name="com.oppo.mobad.service.AdService" />
		<!--add 2018-05-01-->
		<!--如果奖励视频不需要随机器旋转⽽旋转的请将VideoActivity设置android:screenOrientation="sensor"修改横屏或竖屏-->
		<activity
			android:name="com.oppo.mobad.activity.VideoActivity"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:screenOrientation="sensor" />
		<!--SDK 必选组件配置结束-->
		<!-- oppo广告 end -->
        <!-- <activity
            android:name="cn.egame.terminal.paysdk.EgamePayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"            
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <receiver
            android:name="cn.egame.terminal.sdk.EgameCoreReceiver">
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="cn.egame.terminal.sdk.RECEIVER_CMD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service
            android:name="cn.egame.terminal.sdk.EgameCoreService"
            android:process=":egameCore" >
            <intent-filter>
                <action android:name="cn.egame.terminal.sdk.SERVICE_CMD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service> -->
		<!-- 根据游戏实际情况修改screenOrientation属性 -->
        <!-- <activity
            android:name="cn.egame.terminal.sdk.EgameCoreActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:process=":egameCore"
			android:screenOrientation="sensorLandscape"
			android:taskAffinity=":egameCore"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> -->
		
		<!--联通4.1.1-->
		<!-- <service android:name="com.unicom.wostore.unipay.paysecurity.SecurityServiceFramework"/>
		<activity
			 android:name="com.unicom.wostore.unipay.paysecurity.SecurityActivity"
			android:exported="true"
			android:excludeFromRecents="true"
			android:launchMode="singleInstance"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="screenSize|orientation">
		</activity>
		<activity
			android:name="com.unicom.wostore.unipay.paysecurity.PayActivity"
			android:launchMode="standard"
			android:exported="true"
			android:configChanges="screenSize|orientation">
		</activity> -->
		<!--alipaysdk begin -->
		<!-- 
		<activity
			android:name="com.alipay.sdk.app.H5PayActivity"
			android:configChanges="orientation|keyboardHidden|navigation"
			android:exported="false"
			android:screenOrientation="behind">
		</activity>
		<activity
			android:name="com.alipay.sdk.auth.AuthActivity"
			android:configChanges="orientation|keyboardHidden|navigation"
			android:exported="false"
			android:screenOrientation="behind">
		</activity>
		 -->
		<!--联通4.1.1 end-->
		
		<!-- nearme game sdk config goes here -->
        <meta-data android:name="debug_mode" android:value="false" />    <!-- 日志开关，发布时候设置为false -->
		<meta-data android:name="is_offline_game" android:value="true" />  <!-- true:单机游戏   false:网游 -->
		<meta-data android:name="app_key" android:value="ejpUT00Z9lKc0cOcC8sK0ws04" />  <!-- appKey -->
		
        <activity
			android:name="com.nearme.game.sdk.component.proxy.ProxyActivity"
			android:theme="@style/Theme_Dialog_Custom"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:process=":gcsdk">
		</activity>
		<service
			android:name="com.nearme.game.sdk.component.proxy.ProxyApiService"
			android:process=":gcsdk"
			android:priority="1000">
		</service>
        <!-- nearme game sdk config end -->
        <!-- UserCenter SDK Register start -->
        <receiver
        	android:name="com.nearme.game.sdk.component.proxy.ProxyUserCenterOperateReceiver"
        	android:exported="true"
        	android:process=":gcsdk">
	        <intent-filter>
		        <action android:name="com.oppo.usercenter.account_login" />
		        <action android:name="com.oppo.usercenter.account_logout" />
		        <action android:name="com.oppo.usercenter.modify_name" />
	        </intent-filter> 
        </receiver>
        <!-- nearme game sdk config end --> 
		
		<!-- talkingdata --><!--
		<service
            android:name="com.gametalkingdata.push.service.PushService"
            android:process=":push"
            android:exported="true"/>
        <receiver android:name="com.gametalkingdata.push.service.PushServiceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CMD" />
                <action android:name="android.talkingdata.action.notification.SHOW" />
                <action android:name="android.talkingdata.action.media.MESSAGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tendcloud.tenddata.TalkingDataMessageReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.talkingdata.action.media.SILENT" />
                <action android:name="android.talkingdata.action.media.TD.TOKEN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.talkingdata.notification.click" />
                <action android:name="com.talkingdata.message.click" />
            </intent-filter>
        </receiver>
		--><!--talkingdata end-->

	 <!-- 添加应用自身的灯塔appkey，如0I000LT6GW1YGCP7-->
	<meta-data
	    android:name="APPKEY_DENGTA"
	    android:value="1ME88M6P8U1A2XC0" />
	<!-- DNS接收网络切换广播 -->
	<receiver
	    android:name="com.tencent.msdk.dns.HttpDnsCache$ConnectivityChangeReceiver"
	    android:label="NetworkConnection" >
	    <intent-filter>
	        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
	    </intent-filter>
	</receiver>

		<!-- code injection begin [application_node] -->

		<!-- shareSDK -->
		<activity
		    android:name="com.mob.tools.MobUIShell"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:windowSoftInputMode="stateHidden|adjustResize" >
		
		    <!-- 调用新浪原生SDK，需要注册的回调activity -->
		    <intent-filter>
		        <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
		        <category android:name="android.intent.category.DEFAULT" />
		    </intent-filter>
		</activity>
		<activity
			android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
			android:launchMode="singleTask"
			android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="tencent100371282" />
			</intent-filter>
		</activity>
		<activity
		    android:name=".wxapi.WXEntryActivity"
		    android:theme="@android:style/Theme.Translucent.NoTitleBar"
		    android:configChanges="keyboardHidden|orientation|screenSize"
		    android:exported="true"
		    android:screenOrientation="portrait" /> 
		<!-- shareSDK -->
		
		<activity android:name="com.google.zxing.client.android.CaptureActivity"
			android:screenOrientation="sensorLandscape"
			android:clearTaskOnLaunch="true"
			android:stateNotNeeded="true"
			android:theme="@style/CaptureTheme"
			android:windowSoftInputMode="stateAlwaysHidden">
		</activity>
		
		<activity
            android:name="org.appplay.lib.BrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:hardwareAccelerated="true"
			android:screenOrientation="sensor" >
            <intent-filter>
                <data android:scheme="miniworld"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>

		<!-- code injection end [application_node] -->

		<!-- 咪咕支付 咪咕-安卓v26009_0920_sdk begin -->
		<activity
			android:name="cn.cmgame.billing.api.GameOpenActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:screenOrientation="sensor">
			<!-- 根据游戏主界面的横竖屏设置，自行设定 -->
			<!-- 设置咪咕启动logo界面为首Activity：
			注意：对于咪咕渠道，强制要求添加；
			对于非咪咕渠道，如果渠道强制要求其logo界面必须作为首Activity，可删除 -->
			<!-- <intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter> -->
			<!-- 设置咪咕启动界面为首Activity -->
			<intent-filter>
				<action android:name="android.intent.action.CHINAMOBILE_OMS_GAME" />
				<category android:name="android.intent.category.CHINAMOBILE_GAMES" />
			</intent-filter>
		</activity>
		<activity
            android:name="cn.cmgame.billing.api.PermissionActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
		<!-- 咪咕支付 咪咕-安卓v26009_0920_sdk end -->
        
        <!-- meta-data define val for app-->                
        <meta-data
            android:name="isnettable"
            android:value="false" /> 
        
        <meta-data
            android:name="isdebug"
            android:value="false" /> 
        
        <meta-data
            android:name="pfsdkname"
            android:value="unknown" />      
                        
        <meta-data
            android:name="appname"
            android:value="miniworld" />
            
        <meta-data
            android:name="istest"
            android:value="false" />   
            
      	<meta-data 
      	    android:name="url_libso"
      	    android:value="http://www.***.com/DataUpdateAndroid/libAppPlayJNI.so"/>
      	
      	<meta-data
      	    android:name="url_version"
      	    android:value="http://www.***.com/DataUpdateAndroid/version.xml"/>
      	
      	<meta-data 
      	    android:name="url_libso_test"
      	    android:value="http://www.***.com/test/DataUpdateAndroid/libAppPlayJNI.so"/>
      	
      	<meta-data
      	    android:name="url_version_test"
      	    android:value="http://www.***.com/test/DataUpdateAndroid/version.xml"/>
      	    
        <meta-data
      	    android:name="apiid"
      	    android:value="13"/>
        <meta-data
      	    android:name="tppay"
      	    android:value="true"/>
        <meta-data
            android:name="BUGLY_APPID"
            android:value="1105308248" />
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="99.99.99" />
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="1.0" />
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="false" />
		<!-- <meta-data
            android:name="EGAME_CHANNEL"
            android:value="80010141" />
		<meta-data
		    android:name="wostore_billing_chinaunicom"
		    android:value="true"/>
		<meta-data
		    android:name="wostore_billing_chinamobile" 
		    android:value="false" />
		<meta-data
		    android:name="wostore_billing_chinatele" 
		    android:value="false" /> -->
			
		<meta-data android:name="android.max_aspect" android:value="2.1" />
    </application>
</manifest>
